p.right {
    font-size: 0.5em;
    position: fixed;
    right: 0;
    top: 0;

    animation: fadeIn 1s ease-in-out 1s forwards;
    opacity: 0;
}

p.down {
    font-size: 0.4em;
    position: absolute;
    left: 50%;
    bottom: -5rem;
    transform: translateX(-50%);

    animation: fadeIn 1s ease-in-out 1s forwards;
    opacity: 0;
}

li {
    font-size: 25px;
}

p {
    font-size: 25px;
}

tbody {
    font-size: 1.5rem;
}

code {
    font-size: 1rem;
}

h2 {
    font-size: 3rem !important;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fixed-strip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #d71920; /* Adjust to match your branding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0rem;
    z-index: 9999;
    color: white;
    font-family: sans-serif;
}

.fixed-strip img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

.fixed-strip p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
    font-size: 1.75rem;
}
